.img-grid-shimmer-container 
{
    background-color: #171a29;
    color:white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.loader {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    border-top: 5px solid #FFF;
    border-right: 5px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }   